<v-ons-page>
    <navbar msg="Team"></navbar>

    <loading-indicator :is-loading="isLoading"></loading-indicator>

    <v-ons-list>
        <v-ons-list-item v-for="member in team" :key="member.nickname">
            <div class="left">
                <img v-if="null !== member.badge" class="list-item__thumbnail" v-bind:src="member.badge" v-img-fallback="require('../../assets/no-badge.png')">
                <img v-else class="list-item__thumbnail" src="../../assets/no-badge.png">
            </div>
            <div class="center">
                <span class="list-item__title">{{ member.nickname }}</span>
                <span class="list-item__subtitle">
                     <template v-for="(department, index) in member.departments">
                        <span>{{ department }}</span><template v-if="index + 1 < member.departments.length">, </template>
                     </template>
                </span>
            </div>
        </v-ons-list-item>
    </v-ons-list>
</v-ons-page>
