<v-ons-page>
    <navbar msg="Sign in"></navbar>

    <div style="text-align: center; margin-top: 30px;">
        <p>
            <v-ons-input v-model="emailAddress" modifier="underbar" type="email" placeholder="Email address" float></v-ons-input>
        </p>
        <p>
            <v-ons-input v-model="password" modifier="underbar" type="password" placeholder="Password" float></v-ons-input>
        </p>
        <p style="margin-top: 30px;">
            <v-ons-button @click="signIn()">Sign in</v-ons-button>
        </p>

        <loading-indicator :is-loading="isLoading"></loading-indicator>

        <p style="padding: 14px;">
            The login credentials for the app are the same as the one you are using on our website.
        </p>
    </div>
</v-ons-page>
