<v-ons-page>
    <navbar msg="Achievements"></navbar>

    <div style="text-align: center; margin-top: 30px;">
        <p>
            <v-ons-input v-model="code" modifier="underbar" type="text" placeholder="Code" float></v-ons-input>
        </p>
        <p style="margin-top: 15px;">
            <v-ons-button @click="submitCode()">Submit code</v-ons-button>
        </p>

        <loading-indicator :is-loading="isLoading"></loading-indicator>
    </div>

    <v-ons-list>
        <v-ons-list-item v-for="achievement in achievements" :key="achievement.title">
            <span class="list-item__title">{{achievement.title}}</span>
            <span class="list-item__subtitle">{{achievement.description}}</span>
        </v-ons-list-item>
    </v-ons-list>
</v-ons-page>
