<v-ons-page id="app">
    <v-ons-splitter>
        <v-ons-splitter-side swipeable collapse width="250px" :animation="$ons.platform.isAndroid() ? 'overlay' : 'reveal'" :open.sync="menuIsOpen">
            <v-ons-page>
                <div class="header">
                    <img src="./assets/menu-header.png" @click="goTo('home')">
                </div>

                <v-ons-list>
                    <template v-for="category in categories">
                        <template v-if="null !== category.label">
                            <v-ons-list-header>{{ category.label }}</v-ons-list-header>
                        </template>

                        <v-ons-list-item modifier="chevron" v-for="page in category.pages" @click="goTo(page.target)" :key="page.target">
                            <div class="left">
                                <v-ons-icon fixed-width :icon="page.icon"></v-ons-icon>
                            </div>
                            <div class="center">{{ page.label }}</div>
                        </v-ons-list-item>
                    </template>
                </v-ons-list>
            </v-ons-page>
        </v-ons-splitter-side>

        <v-ons-splitter-content>
            <router-view></router-view>
        </v-ons-splitter-content>
    </v-ons-splitter>
</v-ons-page>
